select {
  border:1px solid rgb(222, 220, 220)!important;
  height:38px;
  padding:7px;
}

select {
  border-radius:0;
  border:1px solid #f1f2f3;
  padding:10px;
}

select {
  border:1px solid rgb(239, 236, 236)!important;
  color:#333;
  height:31px;
  padding:5px;
}

select {
  min-width:134px;
  max-width:100%;
}

select:focus, input:focus {
  outline:none;
  box-shadow:0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
}

